@using WS.Business.ViewModels;
@model ICollection<DocumentSearch>;

<div class="list-group">

    @foreach (var p in Model)
    {
        <a href="#" class="list-group-item">
            <p><b>Название: </b>@p.Name</p>
            <p>@p.Path</p>
            <p>@p.IsFile</p>
            <p>@p.Size</p>
        </a>
    }
</div>