@model WS.Business.ViewModels.UserDocumentView
@{
    ViewBag.Title = Model.GuestEmail;
}
<h2>Id @Model.DocumentId</h2>
<div>
    <dl class="dl-horizontal">
        <dt>User_id</dt>
        <dd>@Model.GuestEmail</dd>

        <dt>Name</dt>
        <dd>@Model.Link</dd>

        <dt>Date_change</dt>
        <dd>@Model.DocumentId</dd>

       
    </dl>
</div>
