@model WS.Data.UserDocument
@{
    ViewBag.Title = Model.IdUser;
}
<h2>Id @Model.IdDocument</h2>
<div>
    <dl class="dl-horizontal">
        <dt>User_id</dt>
        <dd>@Model.IdUser</dd>

        <dt>Name</dt>
        <dd>@Model.Link</dd>

        <dt>Date_change</dt>
        <dd>@Model.IdDocument</dd>

       
    </dl>
</div>
