@model WS.Data.UserDocument
@{
    ViewBag.Title = "Редактирование";
}
<form asp-action="edit" asp-controller="UserDocument" asp-route-id1="@Model.IdUser" asp-route-id2="@Model.IdDocument">
    <div class="form-group">
        <label asp-for="IdUser" class="control-label">User_id</label>
        <input type="text" asp-for="IdUser" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdDocument" class="control-label">Document_id</label>
        <input type="text" asp-for="IdDocument" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Link" class="control-label">Link</label>
        <input type="number" asp-for="Link" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsEditable" class="control-label">IsEditable</label>
        <input type="number" asp-for="IsEditable" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>