@using WS.Business.ViewModels
@model DocumentView

<p>Возможные действия с файлом</p>
@if (Model.IsFile == true)
{
    <p>@Html.ActionLink("Просмотр файла", "ViewFile", "Document", Model)</p>
}
<p><a href="#" data-toggle="modal" onclick="GetLinks(@Model.Id);" data-target="#myModal">Совместный доступ</a></p>

<p><a href="/Download/Get?documentId=@Model.Id">Загрузить</a></p>

@Html.Partial("../Share/_SharingModal.cshtml", Model);

