@model IEnumerable<WS.Business.ViewModels.DocumentView>
<table class="table">
    <tr><td>Name</td><td>Extention</td><td>Size</td><td>IsFile</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Extention</td>
            <td>@item.Size</td>
            <td>@item.IsFile</td>
        </tr>
    }
</table>