@model IEnumerable<WS.Business.ViewModels.DocumentView>
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/dropzone.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    .dropzone-container {
        width: 100%;
    }

    .dropzone-drop-area {
        background-color: white;
        width: 750px;
        min-height: 350px;
        box-sizing: border-box;
        padding: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        cursor: pointer;
        position: relative;
    }

        .dropzone-drop-area:hover {
            background-color: white;
            border: dashed 3px silver;
        }
</style>
@Html.Hidden("fullpath", "");
<script>
    $(document).ready(function () {
        Dropzone.options.uploader = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            maxFiles: 3,
            clickable: true,
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            uploadMultiple: false,
            createImageThumbnails: true,
            accept: function (file, done) {
                if (file.name == "badfile.jpg") {
                    done("This is a bad file!");
                }
                else {
                    //Show a confirm alert and display the image on the page.
                }
            }
        };
    });
    Dropzone.options.uploader = {
        init: function () {
            this.on("sending", function (file, xhr, data) {
                if (file.fullPath) {
                    data.append("fullPath", file.fullPath);
                    console.log(file.fullPath);
                }
            });
            this.on("queuecomplete", function (file) {
                @*$.ajax({
                    url: @Url.Action("Index", "Document"),
                    data: @Model,
                    type: "POST",
                    cache: false,
                    success: function (data) {
                         $("#dropzone-drop-area").innerHTML = data;
            }
        });*@
                 $('#dropzone-drop-area').load('@Url.Action("ReturnPartial", "Document")');
            });
            @*this.on("complete", function (file) {
                $('#dropzone-drop-area').load('@Url.Action("_GetDocuments", "Document",Model)');
            });*@
        }
    };
</script>
<div class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="UploadFiles">
        <div class="form-group">
            <div class="col-md-1">
                <input type="file" name="file" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Upload" />
            </div>
        </div>
    </form>
    <div class="col-md-8">
        <h2>File Drag & Drop Upload</h2>

        <div class="dropzone-container" id="dropzone">
            <form action="/Document/UploadFiles" id="uploader" class="dropzone">
                <div id="dropzone-drop-area" class="dropzone-drop-area">
                    @{await Html.RenderPartialAsync("_GetDocuments",Model);}
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    @*var t = setTimeout(function () { $("#dropzone-drop-area").load("_GetDocuments",@Model); }, 600);*@
    @*var t = setTimeout(function () {
        $.ajax({
            url: "_GetDocuments",
            data: @Model,
            type: "POST",
            cache: false,
            success: function (data) {
                $("#dropzone-drop-area").innerHTML = data;
            }
        });
    }, 100);*@
</script>

