/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .accessRow1 {
    padding-right: 15px; }
  .accessRow2 {
    padding-left: 15px; } }

/* Extra Small Devices, Phones */
.accessRow1 {
  padding-right: 0; }

.accessRow2 {
  padding-left: 0; }

#copy-btn, #sel1, #pl, #dropdown-button {
  border-radius: 0; }

.addEmail {
  margin-top: 10px; }

.sel2 {
  margin-right: 25px;
  border: none; }

.delete-link {
  font-size: 15px; }

.toggle.ios .toggle-handle {
  border-radius: 20px; }

.dropdown-access, #dropdown-button {
  width: 100%; }

#accessLevelHeader {
  margin-top: 25px; }

.download-message {
  border-radius: 20px;
  width: 300px;
  height: 150px;
  background-color: #ddd;
  text-align: center;
  margin: 0 auto;
  padding: 19px; }

.downnload-div {
  height: 82vh; }

.download-button {
  margin: 15px auto 0 auto; }

.result {
  width: 400px;
  position: absolute;
  z-index: 99999;
  -webkit-box-shadow: 6px 6px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 22px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 22px -4px rgba(0, 0, 0, 0.75); }

.search-item {
  padding: 10px;
  background: #fff; }
  .search-item:hover {
    background: #f7f9fa;
    cursor: pointer; }

.search-error {
  padding: 10px;
  background: #fff; }

.folder-path {
  color: #7b8994;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0; }

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0; }

.file-icon {
  margin: 3px 6px 0 0;
  font-size: 30px;
  color: #92ceff; }

.folder-icon {
  margin: 7px 13px 0 0;
  font-size: 24px;
  color: #ffcf49; }
