
@{
    ViewData["Title"] = @ViewBag.StatusCose;
}
@{
    Layout = "../Account/Layout";
}
<style>
    h1, h2 {
        text-align:center;
    }
</style>
<h1>@ViewBag.StatusCose</h1>
<h2>
    @ViewBag.ErrorMessage
</h2>


