@model WS.Business.ViewModels.DocumentView;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="download-div">
        <h4>@Model.Name</h4>
        <div class="download-message">
            <h5>Предварительный просмотр невозможен</h5>
            <p>@Html.ActionLink("Скачать", "Get", "Download", new { documentId = Model.Id }, new { @class = "btn btn-primary download-button" })</p>
        </div>
    </div>
</body>
</html>
