@model WS.Business.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Account/Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 loginAdd">
        <h2>@ViewData["Title"]</h2>
        <span>To reset your password, enter your email address. You may need to check the junk e-mail folder or unlock the address webstorage12@gmail.com.</span>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <input style="margin-top:10px" placeholder="Email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn-square btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<div id="forgotModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Send email</h3>
            </div>
            <div class="modal-body">
                <span>Please check your email to reset your password.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Login", "Account")'">Confirm</button>
            </div>
        </div>
    </div>
</div>

@if (Convert.ToBoolean(ViewData["SetModal"]) == true)
{
    <script>
        ConfirmForgot();
        ViewData["SetModal"] = false;
    </script>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
